{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "useTabs": false,
  "bracketSpacing": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "editor.defaultFormatter": "esbenp.prettier-vscode"
}